.setup {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 5px;
  padding: 5px;
}

.setup>div {
  width: 100px;
  font-size: 20px;
}

/* input {
  width: 170px;
} */

.setup input {
  /* border: 1px solid #a2afb8; */
  border: 1px solid #444e55;
  line-height: 35px;
  /* background-color: transparent; */
  background-color: whitesmoke;
  /* color: white; */
  padding: 0 8px;
  font-weight: 300;
  font-family: 'Titillium Web', Arial, sans-serif;
  font-size: 21px;
  min-width: 200px;
  width: 100%;
}
.create-user-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

#createUserBtn{
	padding: 0 5px;
}

#createUserBtn,
.create-user-buttons button {
  border: none;
	margin: 5px;
  text-decoration: none;
  font-size: 23px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
  font-weight: 300;
  font-family: 'Titillium Web', Arial, sans-serif;
  transition: all .3s ease-in-out;
  background-color: #1ab188;
  color: white;
}

.create-user-buttons button:hover:disabled,
.create-user-buttons button:disabled {
  cursor: not-allowed;
  color : gray;
  background-color: #bde7dc; /* Green */
}

.create-user-buttons button:hover {
  background-color: #0cd6a0; /* Green */
}

.create-user-error ul>li {
	color :#850101;
  display: list-item;
  list-style-type: "✘ ";
	list-style-position: inside;
}